*

#include all these:
!src
!data-analysis

!.gitignore
!.clang-format
!Makefile
# !trees.db
!sqlite2cpp.py
!.vscode
!.vscode/**
!ddl.txt
!*.py
!*.ipynb

# exclude all these:
**/.DS_Store
test.cpp
__pycache__